* {
    box-sizing: border-box  ;
}

.col-1 {
    width: 40%;
}

@media only screen and (max-width: 500px) {

    .col-1 {
        width: 100%;
    }
    .ull{
        text-align: center;
    }
  
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  


